<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860632306109-tvb3g0t6sc3n0ta07j1nv38qifnfp75p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860632306109-tvb3g0t6sc3n0ta07j1nv38qifnfp75p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860632306109-9u5vpk10s6is7bbaqto77cmdcissakq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZTJBJtjwCi24MQTjtupI2eTgzaOLhNus</string>
	<key>GCM_SENDER_ID</key>
	<string>860632306109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exchange.cell.Cellexchange</string>
	<key>PROJECT_ID</key>
	<string>cellexchange-e5f86</string>
	<key>STORAGE_BUCKET</key>
	<string>cellexchange-e5f86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860632306109:ios:efa317039a70b5f2</string>
	<key>DATABASE_URL</key>
	<string>https://cellexchange-e5f86.firebaseio.com</string>
</dict>
</plist>